@import "tailwindcss";

:root {
  --color-primary: #0f0f0f;
  --color-secondary: #10b981;
  --color-text: #ffffff;
  --color-muted: #b3b3b3;
  --color-card: #1e1e1e;
  --color-yellow: #F5C518;
  --color-header-footer: #1a1a1a;
}

/* Global Styles - outside :root */
body {
  font-family: sans-serif;
  background: var(--color-primary);
  color: var(--color-text);
  margin: auto;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
}

h3 {
  font-weight: bold;
  font-size: 1.17em;
}

h4 {
  font-weight: bold;
  font-size: 1em;
}

h5 {
  font-weight:lighter;
  font-size: 0.90em;
}

h6 {
  font-weight: bold;
  font-size: 0.67em;
}
